.container-fluid{
    padding: 0 !important;
}
section.parallax-bg-1{
background-size: cover;
}

.cards-img{
    object-fit: contain;
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 10px;
    
}
.card{
   width: 200;
   text-align: center;
   
}

.NavButtons{
    color: bisque;
}